.operations_buttons,
.textareas {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

textarea {
    margin: auto;
    width: 30%;
    height: 200px;
    font-size: 30px;
    border-radius: 10px;
}

button {
    margin-left: 10px;
    margin-top: 10px;
    width: 10%;
    height: 100px;
    font-size: 40px;
    border-radius: 10px;
}